<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fraser.notaficationprototype">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="false"
        android:icon="@drawable/diary"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/MyTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="SummaryFragment$myReceiver">
            <intent-filter>
                <action android:name="updateListView">
                </action>
            </intent-filter>
        </receiver>

        <instrumentation android:name="android.support.test.runner.AndroidJUnitRunner"
            android:targetPackage="com.example.fraser.notaficationprototype"
            android:label="Tests for com.example.fraser.notaficationprototype"/>
        <service
            android:name="NotificationForgroundService"
            android:exported="false">
        </service>
    </application>

</manifest>