<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fraser.notaficationprototype">

    <application
        android:allowBackup="true"
        android:icon="@drawable/diary"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <instrumentation android:name="android.support.test.runner.AndroidJUnitRunner"
            android:targetPackage="com.example.fraser.notaficationprototype"
            android:label="Tests for com.example.fraser.notaficationprototype"/>
        <receiver
            android:name=".StartFragment$ButtonChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="changeEmotion" />
                <action android:name="changeAuthen" />
                <action android:name="changeDevice" />
                <action android:name="confirm" />
            </intent-filter>
        </receiver>

        <activity android:name=".SummaryActivity">

        </activity>
    </application>

</manifest>